.myproject{
    background-image: url(./vecteezy_letter-s-logo-design-for-business-and-company-identity-with_19514650-1-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 200pt;
    
   
}